.custInput {
    border: none;
    text-align: center;
    width: 10%;

}

.custInput:focus {
    border: none;
    text-align: center;
    width: 10%;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}